.scrol{
overflow-y: scroll;
overflow-x: hidden;
height: 60vh;
 
 }
 .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #555555 #272727;
    overflow-y: scroll;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 5px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background-color: #272727;
  }
  
  .scrollbar::-webkit-scrollbar-button {
    display: none; 
  }
  

  .scrollbar {
    margin-right: -20px;
  }